<a href="https://colab.research.google.com/github/rooj908/Ai_student/blob/master/pracytice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
-print("hello world")

hello world

TypeError: bad operand type for unary -: 'NoneType'

# chapter 1 : practice set

In [ ]:
print(''' Twinkle, twinkle, little star, how I wonder what you are. Up above the world so high,
like a diamond in the sky. Twinkle, twinkle, little star, how I wonder what you are.
When the blazing sun is set, and the grass with dew is wet. Then you show your little
light, twinkle, twinkle all the night. Twinkle, twinkle little star, how I wonder what you
are.
Then the traveler in the dark thanks you for your tiny spark. How could he see where to
go if you did not twinkle so? Twinkle, twinkle little star, how I wonder what you are.
As your bright and tiny spark lights the traveler in the dark, though I know not what you
are, twinkle, twinkle, little star. Twinkle, twinkle, little star, how I wonder what you are. ''')

In [ ]:
  print(5*1)
  print(5*2)
  print(5*3)
  print(5*4)
  print(5*5)
  print(5*6)
  print(5*7)
  print(5*8)
  print(5*9)
  print(5*10)

# chapter 2 : varaiable and data type

In [ ]:
a = 1
b = 4
print(a+b)

In [ ]:
# identifier
name = "urooj fatima "

In [ ]:
 a = 1 # a is an integer
 b = 5.33 # b is a floating point number
 c = "urooj" # c is a string
 d = False, True # d is a boolean variable
 e = None # e is a none type vaiable

# operators in python :

# Arthemetic operators:

In [ ]:
 a = 4
 b = 6
 c = a + b
 print(c)

# Assignment operators:

In [ ]:
a = 4 - 2 # assign 4 - 2 in a
print(a)
b = 6
# b += 3 # increment the valuee of b by 3 and then assign it to b
b -= 3 # decrement the value of b by 3 and then assign it to b
print(b)

# Comparsion operator:

In [ ]:
d = 5 < 4
print(d)

In [ ]:
d = 5 > 4
print(d)

In [ ]:
5 >=5

In [ ]:
5 != 5

False

In [ ]:
5 == 5

True

# Logic operator:

In [ ]:
e = 1 or 5 # dono me se ek true hoga tu true
print(e)

1

In [ ]:
# Truth table of or

print("True or False is " , True or False)
print("True or True is " , True or True)
print("False or True is " , False or True)
print("False or False is " , False or False)

True or False is  True
True or True is  True
False or True is  True
False or False is  False

In [ ]:
# Truth table of 'AND'

print("True and False is " , True and False)
print("True and True is " , True and True)
print("False and True is " , False and True)
print("False and False is " , False and False)

True and False is  False
True and True is  True
False and True is  False
False and False is  False

In [ ]:
print(not(True)) # jo true ko false bna de or false ko true bna de use not operator khehte hen

False

# type function & type casting :

In [ ]:
a = 55
t = type(a)
print(t)

<class 'int'>

In [ ]:
b = 66.8
c = type(b)
print(c)

<class 'float'>

In [ ]:
a = "urooj"
d = type(a)
print(d)

<class 'str'>

In [ ]:
d = True
g = type(d)
print(g)

<class 'bool'>

In [ ]:
g = None
h = type(g)
print(h)

<class 'NoneType'>

In [ ]:
b = "23.8"
n = float(b)
print(n)

23.8

In [ ]:
str(32)

'32'

In [ ]:
int("78")

78

In [ ]:
float(32)

32.0

# Input Function:

In [ ]:
a = int(input("enter number 1:"))

b = int(input("enter number 2:"))

print("Number a is: ", a)
print("Number b is: ", b)

KeyboardInterrupt: Interrupted by user

In [ ]:
print("sum is", a + b)

# practice set chapter 2:

In [ ]:
a = 6
b = 8
print(a+b)

In [ ]:
a = 43
b = 34
print("Reminder when a is devided by b is ", a % b)

In [ ]:
a = input("enter the value of a:")
print(type(a))

In [ ]:
a = 34
b = 80
print(a > b)

In [ ]:
a = int(input("enter number 1:"))
b = int(input("enter number 2:"))

print("the average of these two number is", (a + b )/2)

In [ ]:
a = int(input("enter your  number:"))
print("the square of two  number is", a ** 2)

#   Chapter 3 : String

In [ ]:
name = "urooj" # string is imutable

# String Slicing

sl = name[ind_start:ind_end]

sl[0:3]returns "har"______ character from 0 to 3
sl[1:3] returns "ar"_______ character from 1 to 3

In [ ]:
nameshort = name[0:4]
print(nameshort)

In [ ]:
character1 = name[1]
print(character1)

# negarive slicing

In [ ]:
name = "urooj"
print(name[0:3])
print(name[-4:-1])
print(name[1:4])
print(name[:4])
print(name[1:])
print(name[1:5])
print(name[::1])

# Slicing with skip value :

In [ ]:
word = "super"
word[1 : 4 : 2]
word[1:5]

# other Advance slicing techniques :


word = "amazing"

word =[:7] # word [0:7] - 'amazing'

word =[0:] # word [0:7] - 'amazing'

# String Function:

In [ ]:
name = "urooj"

In [ ]:
print(len(name))

In [ ]:
print(name.endswith("00"))

In [ ]:
print(name.startswith("ur"))

In [ ]:
print(name.capitalize())

In [ ]:
"HELLO".lower()   # "hello"

In [ ]:
"hello world".title()   # "Hello World"

In [ ]:
"  hello  ".strip()   # "hello"

In [ ]:
"text".replace("t", "T")   # "TexT"

In [ ]:
"hello world".split()   # ["hello", "world"]

In [ ]:
"-".join(["a", "b", "c"])   # "a-b-c"

In [ ]:
"hello".find("l")   # 2

In [ ]:
"banana".count("a")   # 3

# Eascape_sequence_charachter

In [ ]:
a = "urooj is a good girl\nbut not a bad girl"
print(a)

In [ ]:
a = "urooj is a good girl\tbut not a bad girl"
print(a)

In [ ]:
a = "urooj is a good girl\nbut not a bad \"girl\""
print(a)

In [ ]:
a = "urooj is a good girl\rbut not a bad girl"
print(a)

In [ ]:
a = "urooj is a good girl\b but not a bad girl"
print(a)

# chapter 3 practice set :

In [ ]:
name =input("enter your name:")
print(f"Good Afternoone {name}" )

In [ ]:
letter = ''' Dear <|Name|>,
             You are selected!
            <|Date|>'''

print(letter.replace("<|Name|>" , "urooj").replace("<|Date|" , "11 november 2025"))

In [ ]:
name = "my name is  urooj "
print(name.find("  "))

In [ ]:
name = "my name is  urooj "
print(name.replace("  " , " "))
print(name) # string are immutable which means that you cannot change them by running functions on them

In [ ]:
letter = "Dear urooj, this python course is nice. Thanks! "

In [ ]:
letter = "Dear urooj,\n\tThis python course is nice. \nThanks! "
print(letter)

# Chapter 4 : list and tuples

can store value of any datatype

In [ ]:
freinds = ["hina" , "anfal" , "khizra" , "fiza"]

In [ ]:
freinds[0]

freinds[0] = "78.9" # unlike string lists are mutable

print(freinds[0])

In [ ]:
freinds[1:4]

# list method :

In [ ]:
freinds = ["hina" , "anfal" , "khizra" , "fiza"]
print(freinds)

In [ ]:
freinds.append("raju")
print(freinds)

In [ ]:
l1 = [ 1 , 34 , 62 , 2 , 6 , 11]
l1.sort()
print(l1)

In [ ]:
l1 = [ 1 , 34 , 62 , 2 , 6 , 11]
l1.reverse()
print(l1)

In [ ]:
education = ["matric" , "intermidiate" , "Bs" , "graduation"]

In [ ]:
education.insert(3 , "ms")
print(education)

In [ ]:
education.pop(3)
print(education)

In [ ]:
education.remove("matric")
print(education)

# Tuple : immutable

In [ ]:
a = (1 , 3 , 5 , 6 , 7 )
print(type(a))

In [ ]:
a = ()
print(type(a))

# tuple method :

In [ ]:
a = (1 , 5 , 77 , 5 , 899, "urooj")
print(a)

In [ ]:
no = a.count(77)
print(no)

In [ ]:
i = a.index(5)
print(i)

In [ ]:
t = (1, 2, 3)
lst = list(t)
print(lst)

In [ ]:
len(t)

# practice set chapter 4:

In [ ]:
fruits = []

f1 = input("enter fruit name:")
fruits.append(f1)
f2 = input("enter fruit name:")
fruits.append(f2)
f3 = input("enter fruit name:")
fruits.append(f3)
f4 = input("enter fruit name:")
fruits.append(f4)
f5 = input("enter fruit name:")
fruits.append(f5)
f6 = input("enter fruit name:")
fruits.append(f6)
f7 = input("enter fruit name:")
fruits.append(f7)
print(fruits)

In [ ]:
marks = []

m1 = int(input("enter marks of subject 1:"))
marks.append(m1)
m2 = int(input("enter marks of subject 2:"))
marks.append(m2)
m3 = int(input("enter marks of subject 3:"))
marks.append(m3)
m4 = int(input("enter marks of subject 4:"))
marks.append(m4)
m5 = int(input("enter marks of subject 5:"))
marks.append(m5)
m6 = int(input("enter marks of subject 6:"))
marks.append(m5)

marks.sort()

print(marks)

In [ ]:
a = (34 , 224 , "urooj")
a[2] = "larry"

In [ ]:
l = [1 , 4 , 5 ,6]

In [ ]:
print(sum(l))

In [ ]:
a = (7 , 0 , 8 , 0 , 0 , 9)

In [ ]:
n = a.count(0)
print(n)

# chapter 5 : dictionary &  sets

In [ ]:
marks = {

         "ali" : 87 ,
         "haris" : 66 ,
         "alex" : 44
}

print(marks , type(marks))

In [ ]:
print(marks["ali"])

properties of python dictionaries:

  1. it is unordered
  2. it is mutable
  3. it is indexed
  4. cannot contain duplicate keys

dictionary method :
    
       consider the following dictionary

In [ ]:
print("alie's favorite number is 7")

In [ ]:
print(marks.keys())

In [ ]:
print(marks.values())

In [ ]:
marks.update({"ali" : 99})
print(marks)

In [ ]:
print(marks.get("ali"))

In [ ]:
print(marks.get("shizuka")) # prints None

# set in python

In [ ]:
s = set() # no repetition allowed!
s.add(1)
s.add(2) # or set = {1 , 2}

In [ ]:
d = {} # empty dictionary

In [ ]:
e = set() # empty set

# **practice **

In [ ]:
favt_number = {

               "khizra " : 7 ,
               "anfal " : 6 ,
               "ali" : 9 ,
               "muheeb" : 5 ,
               "raza" : 2,
               "sara" : 10,
               "john" : 3
}

for name , number in favt_number.items():
     print(f"{name}'s favorite number is {number}")

jop apko provide keri jai : builtin fuction

uski apnmi chwz L: dynamic

user : input lena jo al;gorithum khud se krne hoil

calling :

definding : ke fuction kon define krey ho

algorithum : jo hum call likhen

inditation : ye jo peace of code h q\wio fuction ko definbed kra h

| A | B | F = A && B |
| - | - | ---------- |
| 0 | 0 | 0          |
| 0 | 1 | 0          |
| 1 | 0 | 0          |
| 1 | 1 | 1          |


yes 1/p = no 0/p
no = yes
yes = no
yes = yes

In [ ]:
def greeting() :
  print("hello world")

In [ ]:
greeting()

In [ ]:
def greeting(name) :
  print(f"hello {name}")

In [ ]:
name = input("enter your name ")

In [ ]:
greeting("urooj")

In [ ]:
def add ():
  return 2 + 14

In [ ]:
add()

In [ ]:
sum = add()
sum

In [ ]:
def get_even_numbers () :
   even_numbers_list = []
   for i in range (2 , 100):
    if i % 2 == 0:
     even_numbers_list.append(i)

   return even_numbers_list

In [ ]:
get_even_numbers()

In [ ]:
nam1 = int(input("enter your name: "))
nam2 = int(input("enter your name: "))

def add_numbers(a , b ):
  return (a + b)
(add_numbers(nam1 , nam2))

input : perameters & argument
          1. positional  

          2. key words  pbhel;e defined krdiye

output: return

In [ ]:
def greeting(name , age ) :
  print(f"hello {name} {age}")

In [ ]:
greeting("urooj" , 20)

In [ ]:
greeting(name = "urooj" , age = 20)

In [ ]:
def get_grade(marks):
  pass

def valid_password(password):
  uper=1
  number=1
  speial_character=1
  for i in password:
    pass

  if len(password) < 8:
    return False

#  Chapter 6: Conditional Expressions

if ka mtlb ager

if  elif elese ladder

print se phele space hoti h uska name indent hota h

In [ ]:
a = int(input("enter your age: "))

# if elif else ladder

if (a >= 18):
  print("you are above the  age of  consent")
  print("Good for you ")

elif (a > 0 ):
  print("you are entering an invalid negative age")

elif(a == 0):
  print("you are entering 0 which is not valid age ")

else:
  print("you are below the age of consent")

print("end of program")

In [ ]:
a = int(input("enter your age: "))

# if statement no 1

if (a % 2 == 0) :
  print("a is even")

# End of statement no 1

# if statement no 2
if (a >= 18):
  print("you are above the  age of  consent")
  print("Good for you ")

elif (a > 0 ):
  print("you are entering an invalid negative age")

else:
  print("you are below the age of consent")

# End of statement no 2

print("end of program")

Relational operator : == , <= , =>

chapter 6 : Practice set

In [ ]:
num1 = int(input("enter your firt number:"))
num2 = int(input("enter your second number:"))
num3 = int(input("enter your third number:"))
num4 = int(input("enter your fourth number:"))

if num1 > num2:
  print("greater")
  if num1 > num3:
    print("yes")
    if num1 > num4:
      print("done")
else:
  print("no")

print("end program")

In [ ]:
marks1 = int(input("enter your marks:"))
marks2 = int(input("enter your marks:"))
marks3 = int(input("enter your marks:"))

total_percent = (100 * marks1 + marks2 + marks3)/300

if total_percent >= 40:
  print("you are pass")
else:
  print("you are fail , pleat try next year!")

In [ ]:
def valid_password(password):
    upper = 1
    number = 1
    special = 1

    if len(password) < 8:
        return(False)

    for ch in password:
        if ch.isupper():
            upper = True
        elif ch.isdigit():
            number = True
        elif not ch.isalnum():
            special = True

    return (upper and number and special)

In [ ]:
def valid_password(password):
  upper = 1
  number = 1
  special = 1
  if len(password) >= 8:
   for in password:
      if password.isupper():
        print("yes is upper")
      elif password.isdigit():
        print("yes is digit")
      elif  password.isspecial():
        return True
      else:
        return False

In [ ]:
def valid_password(password):
  upper = 0
  digit = 0
  special = 0

  for ch in password:
    if ch.isupper():
      upper = 1
    if ch.isdigit():
      digit = 1
    if ch.isspecial():
      special = 1

      if len(password) >= 8:
         return True
      else:
        return False

  total = upper + digit + special + len(password)

  if total == 4:
    return "strong"
  elif total == 3:
    return "medium"
  else:
    return "weak"

In [ ]:
password = input("enter your password: ")
print(valid_password(password))

local: git ---stage(git)---- server: github , bitbacket, azure devops(microsoft)


          gitadd < file(name) git comment - m <---->  git push
          ager 20 files dalni h tu name ki jagah . dal denge
          name: git config user.name"------"
          email: git config user.email"-------"
          server: git remote add origin"--------url"
          git(folder)"git init""jis folder ko access dena ho jub ye use krenge------github(repository)"url"

          init
          name
          email
          origin
          url
          add
          push



 git hub and bitbackert only ui difference


2 files------1 file-----1 file

In [ ]:
def valid_password(password):
  uppper = 1
  number = 1
  special = 1

In [ ]:
def valid_password(password):
  upper = 0
  digit = 0
  special = 0
  has_min_length = 0

  if len(password) >= 8:
    has_min_length = 1

  for ch in password:
    if ch.isupper():
      upper = 1
    if ch.isdigit():
      digit = 1
    if not ch.isalnum(): # Fixed: checks if character is not alphanumeric
      special = 1

  total = upper + digit + special + has_min_length

  if total == 4:
    return "strong"
  elif total == 3:
    return "medium"
  else:
    return "weak"

In [ ]:
password = input("enter your password: ")
print(valid_password(password))

In [ ]:
i = 0
while i < 5 :
  i +=1
  print(i)

In [ ]:
flag = True

while flag:
  name = input("enter your name: ")
  if name == "exit":
    flag = False
    print(f'Bye , have a good day')
  else:
      print(f"hello {name}")

listciomprimTION

In [ ]:
sqr_number= []
for i in range(10):
  sqr_number.append(i**2)

print(sqr_number)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sqr_number = [i**2 for i in range(10)]
print(sqr_number)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sqr_number3=[i for i in range(10) if i % 3 == 0]
print(sqr_number3)

[0, 3, 6, 9]

In [ ]:
sqr_number = {i**2 for i in range(10)}
print(sqr_number)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [ ]:
sqr_dict = {i:i**2 for i in range(10)}
print(sqr_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

LOCAL----STAGE----SERVER(PULL)(JO KISIOR KAMKRA WIO APKE PAS AJAI)

      GIT FETCH (THIS COMMAND GIVE A COMMENT)

      STASH---TEMPARORY (HOLD FILE )

      UN STASH(JO KAM BHEJA H WO RETURN HOJAI GA )